@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "open sans";
}

body {
    display: flex;
    height: 100%;
    width: 100%;
}

.create_account{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: rgba(0, 119, 182, 100);
}

.sub-sessao{
    text-align: center;
    color:rgba(240, 237, 237, 1);
    font-size: 55px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

p{
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 75px 75px;
}

.btn-navegar{
    width: 200px;
    height: 45px;
    background-color: transparent;
    padding: 0;
    border-radius: 15px;
    border: 1px solid #48CAE4;
    gap: 93px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}

.btn-navegar:hover{
    background-image: linear-gradient(to top,rgba(0, 119, 182, 1),rgba(135, 213, 255, 1));
    box-shadow: 0 -3px 3.2px 0 rgba(0, 0, 0, 0.25) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 0;
    gap: 93px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}

/*-----------------------------------------------------*/

.sign_in {
    flex: 1;
    background-image: url('../assets/farol-da-barra.png');
    background-color: rgba(0, 119, 182, 100);
    background-blend-mode: multiply;
    background-position: left;
    background-repeat: no-repeat;
    padding: 60px 20px;
    box-sizing: border-box;
}

.titulo-sessao{
    text-align: center;
    color:rgba(240, 237, 237, 1);
    font-size: 60px;
    font-weight: 800;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

form{
    padding: 93px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 110px;
}

.align-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#email{
    width: 408px;
    height: 60px;
    background-color: D9D9D9;
    border-radius: 5px;
    border: 0;
    color: #9F9F9F;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    padding-left: 23px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#senha{
    width: 408px;
    height: 60px;
    background-color: D9D9D9;
    border: 0;
    border-radius: 5px;
    color: #9F9F9F;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    padding-left: 23px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#telefone{
    width: 408px;
    height: 60px;
    background-color: D9D9D9;
    border: 0;
    border-radius: 5px;
    color: #9F9F9F;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    padding-left: 23px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

form button{
    width: 200px;
    height: 45px;
    background-image: linear-gradient(to top,rgba(0, 119, 182, 1),rgba(135, 213, 255, 1));
    box-shadow: 0 -3px 3.2px 0 rgba(0, 0, 0, 0.25) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: 0;
    gap: 93px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
}

form button:hover{
    background-image: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    border-radius: 15px;
    border: 1px solid #48CAE4;
    color: #FFF;
}
