@media (max-width: 1024px){
    header{
        gap: 15px;
        padding: 0 15px;
    }
    nav ul {
        gap: 1.5rem;
    }
    
    .categorias {
        font-size: 20px;
        padding: 6px 10px;
    }
    
    #menu {
        width: 160px;
        font-size: 14px;
    }
}

