@media (max-width: 768px) {
    header {
        height: 5rem;
        gap: 10px;
        padding: 0 10px;
    }
    
    #logo {
        width: 200px;
        height: 60px;
    }
    
    nav ul {
        gap: 0.8rem;
    }
    
    .categorias {
        font-size: 16px;
        padding: 4px 8px;
    }
    
    #menu img {
        width: 30px;
        height: 30px;
    }
}